{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="/static/css/bulma.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
<link rel="stylesheet" href="{% static 'css/details.css' %}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">


{% endblock %}


<!-- navbar -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" style="font-family: 'Satisfy', cursive;">Project_Runway</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">Project_Runway</a>
        <div class="social-media order-lg-last">
          <p class="mb-0 d-flex">
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
          </p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto mr-md-3">
            <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Upload Project</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
            
          </ul>
        </div>
      </div>
    </nav>
  <!-- END nav -->
</div>

</section>


<!-- navbar -->

<!-- navbar -->
<!-- navbar -->


<!-- main -->
<div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">

          <!-- project -->
          {% for proj in projects %}
          <div class="card">
            <div class="card-image">
              <figure style="text-align: center;">
                <img src="{{proj.landing_page.url}}" height="900" width="900" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content">
                  <p class="title is-3">{{proj.title}}</p>
                  <p class="subtitle is-6">{{user.username}}</p>
                </div>
              </div>
          
              <div class="content">
                <strong>{{proj.description}}</strong>
               </a>.
                <!-- <a href="#">#css</a> <a href="#">#responsive</a> -->
                <br>
                <time datetime="2016-1-1">{{proj.created|date}}</time>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- project -->

      </div>
    </div>
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Project rating</p>
          {% for rev in review %}
          <!-- design -->
         <div class="box">
          <i>design</i><br>
          <mark><span class="rate">{{rev.rate_by_design}}</span>/10<span> - by {{rev.user.username}}</span></mark>
          <br>
        <!-- content -->
          <i>usability</i><br>
          <mark><span class="rate">{{rev.rate_by_usability}}</span>/10<span> - by {{rev.user.username}}</span></mark>
          <br>
        <!-- usability -->
          <i>content</i><br>
          <mark><span class="rate">{{rev.rate_by_content}}</span>/10<span> - by {{rev.user.username}}</span></mark>
          <br>
          <span>Average</span><p id="answer">0</p>
        </div>
        
            {% endfor %}
        </div>
       
        <div class="tile is-child box">
          <!-- star rating -->
          <h1>Project rating</h1>
          <form method="Post" action="" role="form">
            {% csrf_token %}

            <div class="rating">
              <mark>Rate by Design</mark>
                {{form.rate_by_design}}
            </div>
            <br>
            <br>
            <div class="rating">
              <mark>Rate by Usability</mark>
              {{form.rate_by_usability}}
          </div>
          <br>
          <br>
          <div class="rating">
            <mark>Rate by Content</mark>
            {{form.rate_by_content}}
        </div>
        <br>
        <br>
            <div>
                {{form.comment}}
            </div>
         
            <button type="submit" name="action" class="waves-effect waves-light btn">Post</button>
        </form>  
          
          
          <!-- star rating -->
        </div>
      </div>
  
  </div>
      <!-- comments -->
      <article class="tile is-child notification is-warning">
        <form method="Post" action="" role="form">
          {% csrf_token %}
          {{form.reviews}}
        </form>
        <p class="title">...tiles</p>
        <p class="subtitle">Bottom tile</p>
      </article>
      <!-- comments -->

<!-- main -->

<!-- js -->
<script>
 

  // let answ =document.getElementById('#answer');

 
    // let rates=document.querySelectorAll('.rate');
    // let total=0;

    var arr = document.querySelectorAll('span[class^="rate"]');
    // var total = document.querySelector('span[id^="answer"]');
    var total=0;

    for(var i=0;i<arr.length;i++){
        if(parseInt(arr[i].innerHTML))
            total+= parseInt(arr[i].innerHTML);
    }
    console.log(total)
    total.textContent
    document.getElementById('answer').innerHTML = total;
    // console.log()
  
  

  console.log(2+2);
  

</script>
<!-- js -->
