{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="/static/css/bulma.min.css">
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/footer.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}


<!-- navbar -->
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section" style="font-family: 'Satisfy', cursive;">Project_Runway</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Project_Runway</a>
        <div class="social-media order-lg-last">
          <!-- search -->
  <a class="navbar-item" >
    <div class="input-group rounded">
        <form role="search" action="{% url 'search' %}">
            {% csrf_token %}
        <input type="search" class="form-control rounded" placeholder="Search Project" name="projects"  aria-label="Search" aria-describedby="search-addon" />
        <button class="btn btn-default mt-3" style="text-align:right" type="submit"></button>
         
        <span class="input-group-text border-0" id="search-addon">
            <div class="input-group-btn">
              </div>
        </span> 
        </form>
      </div>
    </a>
    <!-- search -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto mr-md-3">
            <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>


            <!-- <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
  <!-- END nav -->
</div>

</section>
<!-- navbar -->


<!-- header -->
<!-- header -->

<!-- main content -->
    <section class="dark">
        <div class="container py-2">
            <div class="h1 text-center text-dark" id="pageHeaderTitle"><p style="color: yellow;"></p></div>
             {% for project in projects %}
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="{% url 'details' project.id %}">
                    <img class="postcard__img" src="{{project.landing_page.url}}" alt="Image Title" />
                
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue" style="color: aliceblue;">{{project.title}}</h1>
                    <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"style="color: aliceblue;">{{project.created|date }}</i>
                        </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt" style="color: aliceblue;">{{project.description}}</div>
                </a>
                    <ul class="postcard__tagbox">
                    <a class="postcard__img_link" href="{% url 'details' project.id %}">
                        <li class="tag__item" style="color: aliceblue;"><i class="fas fa-tag mr-2"></i>Rate</li>
                        <li class="tag__item" style="color: aliceblue;"><i class="fas fa-clock mr-2"></i>Review</li>
                        <li class="tag__item play blue" style="color: aliceblue;"><a href="{% url 'project'%}" style="color: yellow;"><i class="fas fa-play mr-2"> Upload Project</i></a>
                      </a>
                        </li>
                        </li>
                    </ul>
                    
                </div>
            </article>
           
            
            <!--  -->
            <!-- <div class="tile is-ancestor">
              <div class="tile is-vertical is-8">
                <div class="tile">
                  <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                      <p class="title">Vertical...</p>
                      <p class="subtitle">Top tile</p>
                    </article>
                  
                  </div>
                  <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                      <p class="title">Middle tile</p>
                      <p class="subtitle">With an image</p>
                      <figure>
                        <img src="{{project.landing_page.url}}"  alt="Image Title">
                      </figure>
                    </article>
                  </div>
                </div>
              
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                  <div class="content">
                    <p class="title">Tall tile</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                      <!-- Content -->
                    <!-- </div>
                  </div>
                </article>
              </div>
            </div> --> -->
 
            <!--  -->
            {% endfor %}
        </div>
    </section>
    <!-- footer -->
    <!-- <div class="container-fluid flex-grow-1 ">
      <div class="row py-5">
        <div class="col-lg-12  text-white text-center">
          <h1 class="display-3 ">Bootstrap footer</h1>
          <p class="lead mb-0">This footer is created by using Bootstrap.</p>
          <p class="lead py-3">Snippet by BBBootstrap.</p>
                        
         
      </div>
    </div>
  </div> -->
  



   
    <div class="bg-light py-2">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">&copy; 2022 Project_Runway All risghts reserved.</p>
        
        </div>
      </div>
    

    <!-- footar -->


<!-- main content -->