{% load bootstrap %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="/static/css/bulma.min.css">
{% endblock %}

{% if projects %}
<div class="tile is-parent">
    {% for project in projects %}
            <article class="postcard light blue">
                <div class="box">
                    <a class="postcard__img_link" href="{% url 'details' project.id %}"></a>
                    <article class="media">
                      <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{project.landing_page.url}}">
                          </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                            <mark class="postcard__title blue"><a href="#">{{project.title}}</a></mark>
                        </div>
                       
                      </div>
                    </article>
                </a>
                  </div>
                
                    
                
                <div class="postcard__text t-dark">
                   
                    <div class="postcard__subtitle small"></div>
                </div>
                    
                </a>
                    
                </div>
            </article>
    {% endfor %}
    {% else %}
            <div class="block"></div>
           
    <p style="text-align:center"><mark>No project of search term {{message}}</mark></p>
    {% endif %}
            
  </div>