{% load bootstrap3 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="/static/css/bulma.min.css">
{% endblock %}

{% if projects %}
<div class="tile is-parent">
    {% for project in projects %}
            <article class="postcard light blue">
                <a class="postcard__img_link" href="{% url 'details' project.id %}">
                    <img class="rounded" src="{{project.landing_page.url}}" alt="Image Title" height="200px" width="400px" />
                
                <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue"><a href="#">{{project.title}}</a></h1>
                    <div class="postcard__subtitle small"></div>
                </div>
                    
                </a>
                    
                </div>
            </article>
    {% endfor %}
    {% else %}
            <div class="block"></div>
           
    <p style="text-align:center"><mark>No project of search term {{message}}</mark></p>
    {% endif %}
            
  </div>